
div.interface{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

    width: 100%;
    min-height: 100vh;
    background-color: #1D1D1B;
    color: #fff;
}

h1{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    margin-top: 60px;
}

h1 img{
    width: 60%;
}

p{
    max-width: 520px;
    margin: 32px 0 16px 0;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 1.4em;
}

div.sociaux{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 64px;
    width: 300px;
    margin: 0; padding : 0;
}

div.item-sociaux{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 64px;
    height: 64px;
    margin: 16px; padding : 0;
}

div.sociaux img{
    width: 48px;

    margin: 0px; padding : 0;
}

div.sociaux a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    margin: 0; padding : 0;
}

div.sociaux a:hover{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 3px solid #ccc;
}
/*
div.sociaux img{
    width: 64px;
    padding: 8px;
}



div.sociaux a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
}

div.sociaux a:hover{
    padding: 3px;
    border-radius: 100%;
    border: 1px solid #fff;
}
*/
p{
    max-width: 520px;
    margin: 32px 0 16px 0;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 1.4em;
}
