// Héritage CSS
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Style gérénal des boutons
// - - - - - - - - - - - - - - - - - - - - - - - - - - -
.default-font{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
}

.paragraphe{
    padding: 32px;
    font-size: 1.2rem;
    line-height: 2rem;
    hyphens: auto;
    text-align: justify;
    color: var(--blackyc);
}