// Mixins 
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Gestion du Flex
// - - - - - - - - - - - - - - - - - - - - - - - - - - -
@mixin setFlex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Débug de la mise en page
// - - - - - - - - - - - - - - - - - - - - - - - - - - -
@mixin debug($line, $color) {
    border : #{$line}px $color solid;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Gestion des breakpoints de l'interface
// - - - - - - - - - - - - - - - - - - - - - - - - - - -
@mixin breakpoint-min($screen){
    @media (min-width: #{$screen}px){
        @content;
    }
}

@mixin resetBox{
    padding: 0;
    margin:0;
}