// Variables 
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Variables
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

:root{
    --blanc : #fff;
    --gris : #333;
    --blackyc: #1d1d1b;
    --decoup:hsl(99, 0%, 98%);
}