// Structure générale du site 
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Conteneur général -> interface
// - - - - - - - - - - - - - - - - - - - - - - - - - - -
div.interface{
    position: relative;
    max-width: 100%;
    min-height: 100vh;
}

main{
    @extend .container-fluid;
    @include resetBox;
}

